<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<title>Menu</title>
</head>
<body>
	<div class="card-deck">
  <div class="card">
    <img src="https://images.app.goo.gl/zkdWJWUQvQkzGx3KA" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Small</h5>
      <p class="card-text">Ksh 600</p>
      <a href="#"><button class="btn btn-primary">Customise</button></a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Medium</h5>
      <p class="card-text">Ksh 800</p>
      <a href="#"><button class="btn btn-primary">Customise</button></a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Large</h5>
      <p class="card-text">Ksh. 1000</p>
      <a href="#"><button class="btn btn-primary">Customise</button></a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
	<!--div class="row">
		<div class="col-10">
			<div class="card-deck">
			{% for obj in pizzas %}
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="{{ obj.image.url }}" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">{{ obj.name }}</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="{% url 'menu:pizza'  obj.pk %}" class="btn btn-primary">Customize</a>
				</div>
			</div>
			{% endfor %}
		</div>
		</div>
	</div>
	
	<form method="POST">
		{% csrf_token %}
		<div class="form-group col-4">
			{{ form }}
		</div>
		<button type="submit" class="btn btn-primary">
			<span class="glyphicon glyphicon-send"></span> Send
		</button>
	</form-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>